<div class="container my-5">
    <h1 class="mb-3">Cars</h1>

    <div class="dropdown">
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedMake">
            <option selected>Marke auswählen</option>
            <option *ngFor="let car of cars">{{ car.make_Name }}</option>
        </select>
    </div>

    <button (click)="searchCars()" type="button" class="btn btn-primary">Suchen</button>

    <app-carlist [cars]="carsForSelectedMake"></app-carlist>
</div>