<div class="dropdown">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedMake">
        <option selected>Open this select menu</option>
        <option *ngFor="let car of cars">{{ car.make_Name }}</option>
    </select>
    {{ selectedMake }}

    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
</div>

<button (click)="searchCars()" type="button" class="btn btn-primary">Suchen</button>